# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore build directories
/.gradle/
/build
/build/
/dist

# Ignore temporary files
*.tmp
*.swp

# Ignore system files
.DS_Store
Thumbs.db
